<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.forpet.MyPage_Mapper">
	
	<select id="reservationSearch" resultType="BookingVO">
	select
	bookingNumber, bookingDate, title, start, end, progressState
	from
		tbl_booking
	where userNumber = #{userNumber}
	</select>
	
	<select id="reservationDetailSearch" resultType="UserBoughtExtraServiceVO">
	select
		*
	from
		tbl_user_bought_extra_service
	where bookingNumber = #{bookingNumber}
	</select>
	
	<select id="oneReservationSearch" resultType="BookingVO">
	select
	bookingNumber, bookingDate, title, start, end, progressState, totalPrice, ServicePrice, extraServicePrice, comment
	from
		tbl_booking
	where bookingNumber = #{bookingNumber}
	</select>
	
	<insert id="payment">
		insert into 
			tbl_payment(
			bookingNumber,
			paymentDate,
			paymentType,
			paymentPrice,
			paymentState
			)
			values(#{bookingNumber}, now(), '카드', #{paymentPrice}, '결제 완료');
	</insert>
	
	<select id="paymentSelect" resultType="PaymentVO">
	select
		paymentState
	from
		tbl_payment
	where bookingNumber = #{bookingNumber}
	</select>
</mapper>