<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="forpet_BookingSchedule">

	<resultMap id="bookingResultMap" type="BookingVO">
		<id property="userNumber" column="userNumber" />
			<result property="bookingNumber" column="bookingNumber" />
			<result property="progressState" column="progressState" />
        <collection property="bookingScheduleVO" ofType="BookingScheduleVO" >
			<id property="title" column="title" />
				<result property="start" column="start" />
				<result property="end" column="end" />
				<result property="description" column="description" />
		</collection>
		<collection property="sitterVO" ofType="SitterVO" >
			<id property="sitterNumber" column="sitterNumber" />
		</collection>
    </resultMap>
	
	<select id="findCalendarListAll" resultMap="bookingResultMap" >
		SELECT TS.SITTERNUMBER, TB.USERNUMBER, TB.BOOKINGNUMBER, TBS.TITLE, TBS.START, TBS.END, TBS.DESCRIPTION, TB.PROGRESSSTATE
		FROM TBL_BOOKING AS TB, TBL_BOOKING_SCHEDULE AS TBS, TBL_SITTER AS TS
		WHERE TBS.BOOKINGNUMBER = TB.BOOKINGNUMBER AND TB.SITTERNUMBER = TS.SITTERNUMBER AND TS.SITTERNUMBER= #{SITTERNUMBER};
	</select>

	<resultMap id="bookingDetailMap" type="BookingVO">
		<id property="userNumber" column="userNumber" />
			<result property="bookingNumber" column="bookingNumber" />
			<result property="bookingDate" column="bookingDate" />
			<result property="progressState" column="progressState" />
		<collection property="userVO" ofType="UserVO" >
			<id property="userNumber" column="userNumber" />
				<result property="userName" column="userName" />
			</collection>
		<collection property="userPetVO" ofType="UserPetVO" >
			<id property="petNumber" column="petNumber" />
				<result property="petName" column="petName" />
				<result property="petType" column="petType" />
				<result property="petGender" column="petGender" />
				<result property="petDateOfBirth" column="petDateOfBirth" />
		</collection>
		<collection property="sitterVO" ofType="SitterVO" >
			<id property="sitterNumber" column="sitterNumber" />
		</collection>
	</resultMap>

	<select id="bookingDetailInform" resultMap="bookingDetailMap" >
		SELECT TS.SITTERNUMBER, U.USERNAME, UP.PETNAME, TB.USERNUMBER, TB.BOOKINGDATE, TB.BOOKINGNUMBER , UP.PETTYPE, UP.PETGENDER, UP.PETDATEOFBIRTH 
		FROM TBL_BOOKING AS TB, TBL_BOOKING_SCHEDULE AS TBS, TBL_USER AS U, TBL_USER_PET AS UP, TBL_SITTER AS TS
		WHERE TBS.BOOKINGNUMBER = TB.BOOKINGNUMBER and U.USERNUMBER = TB.USERNUMBER AND U.USERNUMBER = UP.USERNUMBER AND TB.SITTERNUMBER = TS.SITTERNUMBER AND TB.BOOKINGNUMBER = #{bookingNumber};
	</select>

	<update id="bookingConfirm">
		UPDATE TBL_BOOKING SET PROGRESSSTATE = '수락완료'
		WHERE BOOKINGNUMBER = #{bookingNumber};
	</update>

	<delete id="bookingCancel">
		DELETE FROM TBL_BOOKING_SCHEDULE WHERE BOOKINGNUMBER = #{bookingNumber};
	</delete>
	
	<update id="bookingCancelReturnResult">
		UPDATE TBL_BOOKING SET PROGRESSSTATE = '예약거절'
		WHERE BOOKINGNUMBER = #{bookingNumber};
	</update>

</mapper>